@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Jura:400,500,600');
body { margin: 0; padding: 0; font-family: 'Jura', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; background: url("pics/bg.jpg"); background-repeat: no-repeat; background-position: center center; background-attachment: fixed; background-size: 100%;
font-weight: 600;
}
body#onair_body { font-family: Arial; font-size: 16px; color: white; text-align: center; background: transparent;}

div#content { min-height: 250px; padding: 10px; background: transparent;
}

table.content tr:nth-child(even) { background: transparent;
}

table.content tr:nth-child(odd) { background: transparent;
}

media="all"
body { margin: 0; padding: 0; font-family: 'Jura', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; color: red; background: transparent;
font-weight: 600;
}

img#onair_bildIMG { width: 130px; height: 150px; border-radius: 110px; border:0; border-radius: 8px; box-shadow: 0px 0px 10px rgb(238, 0, 119);'/>
box-shadow: 2px 2px 5px black;
}

body#onair_body
{
 
overflow: hidden;
-webkit-transform: scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
-moz-transform: scale(0.8); /*Mozilla scale version*/
-o-transform: scale(0.8); /*Opera scale version*/
-ms-transform: scale(0.8); /*Internet Explorer*/
-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
-moz-transition-duration: 0.5s; /*Mozilla duration version*/
-o-transition-duration: 0.5s; /*Opera duration version*/
-ms-transition-duration: 0.5s; /*Internet Explorer*/
transition-duration: 0.5s;
margin: 0 -6px; /*margin between images*/
text-shadow: 5px 5px 5px black;
}
body#onair_body:hover
{ 
transform: scale(1.0);
-webkit-transform: scale(1.0); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform: scale(1.0); /*Mozilla scale version*/
-o-transform: scale(1.0); /*Opera scale version*/
-ms-transform: scale(1.0); /*Internet Explorer*/
opacity: 1;
}

img { min-width: 64px; min-height: 64px; 
}
@charset "utf-8";

body
{
margin: 0;
padding: 0;
font-family: 'Jura', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 600;
color: #fff;
text-align: center; text-align: -webkit-center;
font-size: initial;
}

div.clear
{
clear: both;
}

div#content
{
min-height: 250px;
padding: 10px;
}

div#wrapper
{
margin:0 auto;
width:100%;
box-shadow:0 0 5px #333;
background: rgba(0,0,0,0.8);
}

div#navi
{
border-bottom: 1px solid #666;
background: rgba(0,0,0,0.5);
//background: #666;
//background: -moz-linear-gradient(top,#666,#333);
//background: -webkit-linear-gradient(top,#666,#333);
//background: -ms-linear-gradient(top,#666,#333);
//background: linear-gradient(top,#666,#333);
//height: 50px;
}

div#navi ul
{
margin: 0 auto;
padding: 0;
list-style-type: none;
//height: 50px;
}

div#navi ul li
{
float: left;
border-right: 1px solid #666;
}

div#navi ul li a
{
display: block;
padding: 7px 20px;
min-width: 65px;
//height: 50px;
text-align: center;
color:#FFF;
text-decoration: none;
}

div#navi ul li span#headline
{
display: block;
font-size: 18px;
color: #FFF;
font-weight: 700;
padding: 12px 25px;
}

div#navi ul li a#current,
div#navi ul li a:hover
{
background: #333;
background: -moz-linear-gradient(top,#333,#666);
background: -webkit-linear-gradient(top,#333,#666);
background: -ms-linear-gradient(top,#333,#666);
background: linear-gradient(top,#333,#666);
}

div#navi ul li:first-child {border-left: none;}
div#navi ul li:last-child {border-right: none;}

table.content
{
width: 100%;
border: 1px solid #DDD;
border-spacing: 1px;
}

table.content2
{
width: 100%;
height: 160px;
//border: 1px solid #DDD;
//border-spacing: 1px;
}

table.content th, table.content td {padding: 6px 4px;}
//table.content tr:nth-child(odd){background: #EFEFEF;}
//table.content tr:nth-child(even){background: #F5F5F5;}

table.content th
{
background: #E5E5E5;
background: -moz-linear-gradient(top,#995FEC,#E3181C);
background: -webkit-linear-gradient(top,#995FEC,#E3181C);
background: -ms-linear-gradient(top,#995FEC,#E3181C);
background: linear-gradient(top,#995FEC,#E3181C);
}

div#footer
{
margin-bottom: 10px;
height:25px;
padding: 0;
background: rgba(0,0,0,0.6);
//background: -moz-linear-gradient(top,#333,#666);
//background: -webkit-linear-gradient(top,#333,#666);
//background: -ms-linear-gradient(top,#333,#666);
//background: linear-gradient(top,#333,#666);
}

div#footer a
{
color: #FFF;
text-decoration: none;
}

div#footer ul
{
float:right;
margin: 0;
padding: 0;
list-style-type: none;
}

div#footer ul li
{
float: left;
}

div#footer ul li a
{
display: block;
padding:0 10px;
line-height:25px;
border-left:1px solid #666;
}

div#footer ul li a#footer-current,
div#footer ul li a:hover
{
background: rgba(0,0,0,0.6);
//background: -moz-linear-gradient(top,#333,#666);
//background: -webkit-linear-gradient(top,#333,#666);
//background: -ms-linear-gradient(top,#333,#666);
//background: linear-gradient(top,#333,#666);
}

ul.tabmenu
{
margin:0;
padding:0;
list-style-type:none;
}

ul.tabmenu li
{
float:left;
}

ul.tabmenu li a
{
display:block;
margin-right:10px;
padding:8px 15px;
color:#FFF;
font-weight:700;
background:rgba(0,0,0,0.7);
}

ul.tabmenu li a:hover,
ul.tabmenu li a.current
{
background:#FF0000;
}

span#refreshBar
{
float: right;
font-size: 12px;
padding-top:5px;
}

img.profil_bild
{
max-width: 100px;
max-height: 100px;
border: 1px solid #CCC;
}

table.popup-table td.popup-profil-bild
{
padding-top: 5px;
vertical-align: top;
width: 110px;
}

table.popup-table
{
margin: 0;
padding: 0;
width: 100%;
}

table.popup-table td.popup-desc
{
vertical-align: top;
}

table.popup-table td.popup-desc span.headline
{
display: block;
margin-bottom: 5px;
padding-bottom: 2px;
font-weight:700;
border-bottom: 1px solid #CCC;
}

table.content tr.event-sendung
{
//background:#FFF2E7;
}

input[type=text],
input[type=password],
input[type=file],
input[type=email],
input[type=url],
input[type=search],
input[type=number],
select,textarea
{
width:99%;
margin:3px;
padding:5px;
font-size:12px;
border-radius:3px;
font-family:Arial,Verdana,Helvetica;
border:1px #959595 solid;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
resize:none;
}

input[type=number] {width:70px;text-align:center;}
select {padding: 4px 5px;}

input[type=text]:focus,
input[type=password]:focus,
input[type=file]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
select:focus,textarea:focus
{
box-shadow:0 0 3px yellow;
}

input[type=submit],
input[type=reset],
input[type=button]
{
padding:3px 10px;
border:1px solid #DDD;
font-weight:700;
color:#666;
cursor:pointer;
border-radius:3px;
background:#FAFAFA;
background:-moz-linear-gradient(top,#FAFAFA,#E4E4E4);
background:-webkit-linear-gradient(top,#FAFAFA,#E4E4E4);
background:-ms-linear-gradient(top,#FAFAFA,#E4E4E4);
background:linear-gradient(top,#FAFAFA,#E4E4E4);
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover
{
background:#E4E4E4;
background:-moz-linear-gradient(top,#E4E4E4,#CCC);
background:-webkit-linear-gradient(top,#E4E4E4,#CCC);
background:-ms-linear-gradient(top,#E4E4E4,#CCC);
background:linear-gradient(top,#E4E4E4,#CCC);
}

input[type=submit].cancel,
input[type=reset].cancel,
input[type=button].cancel{color:#600;}

input[type=submit].cancel:hover,
input[type=reset].cancel:hover,
input[type=button].cancel:hover
{
color:#FFF;
border-color:#C24B45;
background:#E06762;
background:-moz-linear-gradient(top,#E06762,#A6322C);
background:-webkit-linear-gradient(top,#E06762,#A6322C);
background:-ms-linear-gradient(top,#E06762,#A6322C);
background:linear-gradient(top,#E06762,#A6322C);
}

input[type=submit].submit,
input[type=reset].submit,
input[type=button].submit{color:#360;}

input[type=submit].submit:hover,
input[type=reset].submit:hover,
input[type=button].submit:hover
{
color:#FFF;
border-color:#5CBB3E;
background:#80DD7E;
background:-moz-linear-gradient(top,#80DD7E,#50A237);
background:-webkit-linear-gradient(top,#80DD7E,#50A237);
background:-ms-linear-gradient(top,#80DD7E,#50A237);
background:linear-gradient(top,#80DD7E,#50A237);
}

span.event
{
display:block;
padding:8px;
color:#A84;
margin-bottom:10px;
text-align:center;
background:#FFE;
border-top:5px solid #FEC;
border-bottom:5px solid #FEC;
}

span.event-Success
{
color:#537836;
background:#EFE;
border-color:#CEA;
}

span.event-Fail
{
color:#A42F2D;
background:#FEE;
border-color:#FDD;
}

a{text-decoration:none;color:#89e2ff; text-align: center; text-align: -webkit-center;
font-size: initial;
}
a:hover{color:#44F;}

h1.headline
{
margin:0 0 10px 3px;
padding-bottom:3px;
font-size:22px;
border-bottom:1px dotted #CCC;
}

span.circle-red
{
border-radius:10px;
padding:2px 6px;
font-weight:700;
background:#E00;
}

span.label
{
color:#FFF;
font-weight:700;
padding:4px 6px;
border-radius:4px;
background:#888;
}

span.label-red
{
color:#FFF;
background:#C95A57;
}

}

span.label-orange
{
color:#FFF;
background:#EF9C52;
}

span.label-green
{
color:#FFF;
background:#5DC15D;
}

div.pagenav{float:right;}

div.pagenav ul
{
margin:0;
padding:0;
height:25px;
list-style-type:none;
border:1px solid #CCC;
}

div.pagenav ul li
{
float:left;
border-left:1px solid #CCC;
}

div.pagenav ul li:first-child{border:none;}

div.pagenav ul li a
{
display:block;
padding:0 7px;
line-height:25px;
font-weight:bold;
vertical-align:middle;
cursor:pointer;
}

div.pagenav ul li a:hover,
div.pagenav ul li#currentpage{background:#000;
